header
{
	background-image: url("https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60");
	height: 650px;
	background-size: cover;
	color:white;
}
.navbarNav {
  height: 50px;
  padding: 70px;


}
.navbar img {
  width: 110px;
  display: inline;
}
.nav-item active, a {
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}
.Nav-subscribe-toggle, a{
    margin-left: auto;
    min-width: 0;
    font-weight: 700;
}
.Nav .Nav-inner>* {
    flex-shrink: 0;
}
.Nav-subscribe-toggle {
    position: right;
    vertical-align: middle;
    transition: color .25s;
}

header p{
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-align: center;
  text-shadow: 2px 2px blue;
}

.banner
{
	color: rgb(35, 35, 48);
}
#d {
  color: teal;
}
/*Outreach Section*/
.outreach img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.outreach h1 {
  font-size: 50px;
  line-height: bolddisplay: inline-block;
}
.outreach h3 {
  font-size: 28px;
}
.outreach p {
  font-size: 15px;
 
}
.Impact-items {
    list-style-type: none;
    margin-top: 3em;
    display: grid;
    grid-gap: 3em;
    max-width: 30em;
    margin-left: 0;
}

/*Services*/
.services span
{
  width:200px;
  display:inline-block;
}
.services i
{
color: dimgrey;
}
.services img {
  width: 70px;
}

/*Team*/
.team
{
	width: 80%;
	margin: auto;
	text-align: center;
}
.team h1
{
	background-color: rgb(35, 35, 48);
	color: white;
}
.team img 
{

  border-radius: 50%;
  object-fit: cover;
  height:150px;
  width:150px;
  transition:1s;
}
.team img:hover
{
  transform:scale(.9);
  opacity:.8;

}
/*Sponsors*/
.sponsor
{
	width: 90%;
	margin: auto;
}
.sponsor img
{
	object-fit: cover;
	height:60px;
	width:70px;
	transition:1s;
}

/*Contact*/
.contact
{
	width: 90%;
	margin: auto;
}
.contact i 
{
	padding: 10px;
}
.contact .btn
{
	margin-top: 10px;
	width: 100%;
	background-color: rgb(35, 35, 48);
	color: white;
}
.contact .input-group
{
	margin-top: 10px;
}
/*footer*/
.footer
{
	width: 80%;
	margin: auto;
	margin-top: 30px;
}
.footer .btn
{
	background-color: rgb(35, 35, 48);
	color: white;
	width: 50%;
}
.facebook
{
	color: rgb(59, 89, 152);
}
.twitter
{
	color: rgb(29, 161, 242);
}
.linkedin
{
	color: rgb(0, 115, 176);
}
.price title {
 margin-left: 2.5 cm
}

