header
{
	background-image: url("https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60");
	height: 750px;
	background-size: cover;
	color:white;
  line-height: 3.5em;
}
.navbar-nav {
  height: 50px;
  width: 100%;
  justify-content: space-around;
}
.navbar-toggler {
  height:65px;
}

.navbar img {
  width: 65px;
}
.nav-item active, a {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  
}
.Nav-subscribe-toggle, a{
    margin-left: auto;
    min-width: 0;
    font-weight: 700;
}
.Nav .Nav-inner>* {
    flex-shrink: 0;
}
.Nav-subscribe-toggle {
    position: right;
    vertical-align: middle;
    transition: color .25s;
}

header p{
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-align: center;
  text-shadow: 2px 2px blue;
}

.banner
{
	color: rgb(35, 35, 48);
}
#d {
  color: teal;
}
/*Outreach Section*/
.outreach {
  padding: 80px;
}
.outreach img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 10px solid #555;
}
.outreach h2 {
  font-size: 40px;
  line-height: bold;
  display: inline-block;
  color: blue;
}
.outreach h1 {
  font-size: 40px;
  text-align: center;
}
.outreach h3 {
  font-size: 20px;
}
.Impact-items {
    list-style-type: none;
    margin-top: 3em;
    display: grid;
    grid-gap: 3em;
    max-width: 30em;
    margin-left: 0;
}

/*Services*/
.services {
  width: 100%;
  margin: auto;
  background-color: lightslategray;

}
.services span
{
  display:inline-block;
   font-size: 25px;
}
.services i
{
  color: dimgrey;
}
.services img {
  width: 30px;
  object-fit: cover;
	height:30px;
}
.services  p{
  font-size: 20px;
  text-align: center;
}
.services h2{
  text-align: center;
  font-size: 50px;
}
/*Team*/
.team
{
  
	width: 80%;
	margin: auto;
	text-align: center;
}
.team h3
{
	background-color: rgb(35, 35, 48);
	color: white;
}
.team h4{
  font-size: 20px;
}
.team img 
{
  border-radius: 50%;
  object-fit: cover;
  height:250px;
  width:250px;
  transition:1s;
}
.team p{
  font-size: 13px;
}
.team img:hover
{
  transform:scale(.9);
  opacity:.8;

}

/*Sponsors*/
.sponsor
{
	width: 100%;
	margin: auto;
  padding: 80px;
  text-align: center;
}
.sponsor img
{
	object-fit: cover;
	height:90px;
	width:90px
}

/*Contact*/
.contact
{
	width: 100%;
  padding: 80px;
	margin: auto;
  text-align: justify;
}
.contact i 
{
	padding: 10px;
}
.contact .btn
{
	margin-top: 10px;
	width: 100%;
	background-color: rgb(35, 35, 48);
	color: white;
}
.contact .input-group
{
	margin-top: 10px;
}
/*footer*/
.footer
{
	width: 100%;
	margin: auto;
	margin-top: 30px;
  padding: 80px;
  background-color: lightslategray;
}

.socialMedia {
  justify-content: space-evenly;
}
.footer .btn
{
	background-color: rgb(35, 35, 48);
	color: white;
	width: 100%;
}
.facebook
{
	color: rgb(59, 89, 152);
}
.twitter
{
	color: rgb(29, 161, 242);
}
.instagram 
{
  color: #f03690;
}
.linkedin
{
	color: rgb(0, 115, 176);
}
.price title {
 margin-left: 2.5 cm
}

.row {
  display: flex;
}
.column {
  flex: 25%;
  padding: 5px;
}
.column-6 {
  flex: 50%;
  padding: 5px;
}